<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${specialfolder:folder=LocalApplicationData}/logs/smartbite-${shortdate}.log"
				archiveFileName="${specialfolder:folder=LocalApplicationData}/logs/archives/smartbite.{#}.zip"
				archiveEvery="Day"
				archiveNumbering="Date"
				archiveDateFormat="yyyy-MM-dd"
				maxArchiveFiles="30"
				archiveAboveSize="0"
				enableArchiveFileCompression="true"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception}" />

		<target xsi:type="ColoredConsole" name="console"
            useDefaultRowHighlightingRules="false">
			<highlightingRules>
				<highlightingRule foregroundColor="Gray" level="Trace" />
				<highlightingRule foregroundColor="Gray" level="Debug" />
				<highlightingRule foregroundColor="Green" level="Info" />
				<highlightingRule foregroundColor="Yellow" level="Warn" />
				<highlightingRule foregroundColor="Red" level="Error" />
				<highlightingRule foregroundColor="DarkRed" level="Fatal" />
			</highlightingRules>
			<layout>${longdate} ${uppercase:${level}} ${message} ${exception}</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="console, logfile" />
	</rules>
</nlog>
